.form-add-class{
    align-items: center;
    margin-left: 45%;
}
.action-icon{
    margin-left: 45px;
}
.league-title{
    height: 35%;
    width: 35%;
  }
  .league-title-center{
    position: absolute;
    right: 300px;
    padding: 10px;
  }