.card-card {
    width: 270px;
    max-height: 400px;
    text-align: center;
    left: 850px;
  }
  
  .card-header-image {
    background-size: cover;
  }
  
  .mat-card-image {
    margin-left: 13%;
    margin-right: 14%;
    min-width: 150px;
    min-height: 150px;
    max-width: 200px;;
    max-height: 200px;
  }
  
  .card-title{
    margin: auto;
    width: 75%;
  }
  .league-title{
    height: 35%;
    width: 35%;
  }
  .league-title-center{
    position: absolute;
    right: 300px;
    padding: 10px;
  }
  